.campus {
	width: 35vw;
	padding: 5rem;
	background: white;

	border-radius: 5%;
	box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48),
		-6px -2px 16px 0px rgba(255, 255, 255, 0.8);
}

.w_full {
	width: 100%;
}

.button_login {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: auto;

	font-size: 18px;
	padding: 10px;
}

.button_login span {
	padding-left: 0.25rem;
}

.image_logo {
	display: block;
	object-fit: contain;
}

@media only screen and (max-width: 768px) {
	.campus {
		width: 80vw;
	}
	.button_login {
		font-size: initial;
	}
  }